<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
  <body>
    <div class="row" th:fragment="accordion-nav">
	      	<div class="col-12">
	      	  <span class="badge" style="color:gray;">Mi Cuenta</span>
	      	  <div class="accordion" id="sidenav-accordion">	      
			  <div class="accordion-item">
			  
			    <h2 class="accordion-header" id="headingOne">
			      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			        <i class="fas fa-user me-2"></i> Perfil
			      </button>
			    </h2>
			    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#sidenav-accordion">
			      <div class="accordion-body p-0">
					<ul class="list-group">
					  <li class="list-unstyled cursor-pointer">
					  	<a class="list-group-item border-top-0 border-start-0 border-end-0 ps-5 text-dark text-decoration-none">Mi Perfil</a>
					  </li>
					  <li class="list-unstyled cursor-pointer">
					    <a class="list-group-item border-top-0 border-start-0 border-end-0 ps-5 text-dark text-decoration-none">Dirección de Envío</a>
					  </li>
					  <li class="list-unstyled cursor-pointer">
					     <a class="list-group-item border-top-0 border-start-0 border-end-0 ps-5 text-dark text-decoration-none">Mis Compras</a>
					  </li>
					</ul>
			      </div>
			    </div>
			    
			  </div>

		 </div>		
	      	</div>
	      	
	      	<div class="col-12 mt-3">
	      	  <span class="badge" style="color:gray;">Mantenimientos</span>
	      	  <div class="accordion" id="sidenav-accordion2">
	      	    <div class="accordion-item">
			    <h2 class="accordion-header" id="headingTwo">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			        <i class="fas fa-book me-2"></i> Libro
			      </button>
			    </h2>
			    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="sidenav-accordion2">
			      <div class="accordion-body p-0">
			        <ul class="list-group">
					  <li class="list-unstyled cursor-pointer">
					    <a class="list-group-item border-top-0 border-start-0 border-end-0 ps-5 text-dark text-decoration-none">Registrar</a>
					  </li>
					  <li class="list-unstyled cursor-pointer">
					  	<a class="list-group-item border-top-0 border-start-0 border-end-0 ps-5 text-dark text-decoration-none">Listado</a>
					  </li>
					</ul>
			      </div>
			    </div>
			  </div>
			  
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingThree">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			        <i class="fas fa-address-book me-2"></i> Autores y Categoría
			      </button>
			    </h2>
			    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="sidenav-accordion2">
			      <div class="accordion-body p-0">
			        <ul class="list-group">
					  <li class="list-unstyled cursor-pointer">
					  	<a class="list-group-item border-top-0 border-start-0 border-end-0 ps-5 text-dark text-decoration-none">Registrar Autor</a>
					  </li>
					  <li class="list-unstyled cursor-pointer">
					    <a class="list-group-item border-top-0 border-start-0 border-end-0 ps-5 text-dark text-decoration-none">Registrar Categoría</a>
					  </li>
					  <li class="list-unstyled cursor-pointer">
					   <a class="list-group-item border-top-0 border-start-0 border-end-0 ps-5 text-dark text-decoration-none">Listado</a>
					  </li>
					</ul>
			      </div>
			    </div>
			  </div>
			  
	      	  </div>
	      	</div>
	      	
	      	<div class="col-12 mt-3">
	      	 <span class="badge" style="color:gray;">Listados</span>
	      	  <div class="accordion" id="sidenav-accordion3">
	      	    <div class="accordion-item">
			  
			    <h2 class="accordion-header" id="headingFour">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
			        <i class="fas fa-file me-2"></i> Reportes
			      </button>
			    </h2>
			    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="sidenav-accordion3">
			      <div class="accordion-body p-0">
					<ul class="list-group">
					  <li class="list-unstyled">
					  	<a class="list-group-item border-top-0 border-start-0 border-end-0 ps-5 text-dark text-decoration-none">Venta de Libros</a>
					  </li>
					  <li class="list-unstyled">
					    <a class="list-group-item border-top-0 border-start-0 border-end-0 ps-5 text-dark text-decoration-none">Usuarios</a>
					  </li>
					</ul>
			      </div>
			    </div>
			    
			  </div>
	      	  </div>
	      	</div>
	      </div>
  </body>

</html>