<!DOCTYPE html>
<html lang="es">

<head th:replace="layout/layout::head"></head>

<body>

	<nav th:replace="layout/layout :: nav"></nav>
	<div class="container-fluid hero">
		<div class="container py-5">
			<div class="d-flex flex-column gap-2 flex-lg-row mt-3">
				<div class="col-md-6">
					<input class="form-control rounded-pill" type="text" placeholder="Buscar un libro, autor o género"
						style="margin-left: -5px" />
				</div>
				<div class="col-md-3">
					<select class="form-select rounded-pill" id="validationCustom04" required>
						<option selected disabled value="">Categorias</option>
						<option>Musica</option>
						<option>Romance</option>
						<option>Historia</option>
						<option>Mangas</option>
						<option>Recetas</option>
					</select>
				</div>
				<div class="col-md-3">
					<button class="btn btn-rounded btn-success" type="submit">Buscar Libros</button>
				</div>
			</div>
		</div>
	</div>
	<section class="container-fluid mt-4">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="shadow p-2 mb-3" style="background: white; border-radius: 25px;">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-lg-4 col-xl-4">

									<div class="card-body">
										<p class="my-3">Buscar por ISBN</p>
										<div class="fm-search">
											<div class="mb-0">
												<div class="input-group input-group-md"> <span
														class="input-group-text bg-transparent"><i class="fas fa-search"></i></span>
													<input type="text" class="form-control" placeholder="Ingresar ISBN">
												</div>
											</div>
										</div>


									</div>

								</div>
								<div class="col-lg-4 col-xl-4">

									<div class="card-body">
										<p class="my-3">Buscar por Autor</p>
										<div class="fm-search">
											<div class="mb-0">
												<div class="input-group input-group-md"> <span
														class="input-group-text bg-transparent"><i class="fas fa-search"></i></span>
													<input type="text" class="form-control"
														placeholder="Ingresar Autor">
												</div>
											</div>
										</div>


									</div>

								</div>
								<div class="col-lg-4 col-xl-4">

									<div class="card-body">
										<p class="my-3">Buscar por Editorial</p>
										<div class="fm-search">
											<div class="mb-0">
												<div class="input-group input-group-md"> <span
														class="input-group-text bg-transparent"><i class="fas fa-search"></i></span>
													<input type="text" class="form-control"
														placeholder="Ingresar Editorial">
												</div>
											</div>
										</div>


									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3">
				<div class="col mt-3" align="center">
					<div class="card-box cursor-pointer">
						<img src="img/covers/mercaderes_del_espacio.jpg" class="card-img-top" alt="...">
						
						<div class="card-body">
							<h6 class="text-break">Nest Shaped Chair</h6>
							<div class="d-flex btn-group justify-content center" role="group"
								aria-label="Basic example">
								<button type="button" class="btn btn-ver btn-outline-success"><i class="fas fa-location-arrow"></i> Ver</button>

								<button type="button" class="btn btn-comprar btn-success"><i class="fas fa-shopping-cart"></i> Comprar</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col mt-3" align="center">
					<div class="card-box cursor-pointer">
						<img src="img/covers/mercaderes_del_espacio.jpg" class="card-img-top" alt="...">
						
						<div class="card-body">
							<h6 class="text-break">Nest Shaped Chair</h6>
							<div class="d-flex btn-group justify-content center" role="group"
								aria-label="Basic example">
								<button type="button" class="btn btn-ver btn-outline-success"><i class="fas fa-location-arrow"></i> Ver</button>

								<button type="button" class="btn btn-comprar btn-success"><i class="fas fa-shopping-cart"></i> Comprar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col mt-3" align="center">
					<div class="card-box cursor-pointer">
						<img src="img/covers/mercaderes_del_espacio.jpg" class="card-img-top" alt="...">
						
						<div class="card-body">
							<h6 class="text-break">Nest Shaped Chair</h6>
							<div class="d-flex btn-group justify-content center" role="group"
								aria-label="Basic example">
								<button type="button" class="btn btn-ver btn-outline-success"><i class="fas fa-location-arrow"></i> Ver</button>

								<button type="button" class="btn btn-comprar btn-success"><i class="fas fa-shopping-cart"></i> Comprar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col mt-3" align="center">
					<div class="card-box cursor-pointer">
						<img src="img/covers/mercaderes_del_espacio.jpg" class="card-img-top" alt="...">
						
						<div class="card-body">
							<h6 class="text-break">Nest Shaped Chair</h6>
							<div class="d-flex btn-group justify-content center" role="group"
								aria-label="Basic example">
								<button type="button" class="btn btn-ver btn-outline-success"><i class="fas fa-location-arrow"></i> Ver</button>

								<button type="button" class="btn btn-comprar btn-success"><i class="fas fa-shopping-cart"></i> Comprar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col mt-3" align="center">
					<div class="card-box cursor-pointer">
						<img src="img/covers/mercaderes_del_espacio.jpg" class="card-img-top" alt="...">
						
						<div class="card-body">
							<h6 class="text-break">Nest Shaped Chair</h6>
							<div class="d-flex btn-group justify-content center" role="group"
								aria-label="Basic example">
								<button type="button" class="btn btn-ver btn-outline-success"><i class="fas fa-location-arrow"></i> Ver</button>

								<button type="button" class="btn btn-comprar btn-success"><i class="fas fa-shopping-cart"></i> Comprar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col mt-3" align="center">
					<div class="card-box cursor-pointer">
						<img src="img/covers/mercaderes_del_espacio.jpg" class="card-img-top" alt="...">
						
						<div class="card-body">
							<h6 class="text-break">Nest Shaped Chair</h6>
							<div class="d-flex btn-group justify-content center" role="group"
								aria-label="Basic example">
								<button type="button" class="btn btn-ver btn-outline-success"><i class="fas fa-location-arrow"></i> Ver</button>

								<button type="button" class="btn btn-comprar btn-success"><i class="fas fa-shopping-cart"></i> Comprar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col mt-3" align="center">
					<div class="card-box cursor-pointer">
						<img src="img/covers/mercaderes_del_espacio.jpg" class="card-img-top" alt="...">
						
						<div class="card-body">
							<h6 class="text-break">Nest Shaped Chair</h6>
							<div class="d-flex btn-group justify-content center" role="group"
								aria-label="Basic example">
								<button type="button" class="btn btn-ver btn-outline-success"><i class="fas fa-location-arrow"></i> Ver</button>

								<button type="button" class="btn btn-comprar btn-success"><i class="fas fa-shopping-cart"></i> Comprar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col mt-3" align="center">
					<div class="card-box cursor-pointer">
						<img src="img/covers/mercaderes_del_espacio.jpg" class="card-img-top" alt="...">
						
						<div class="card-body">
							<h6 class="text-break">Nest Shaped Chair</h6>
							<div class="d-flex btn-group justify-content center" role="group"
								aria-label="Basic example">
								<button type="button" class="btn btn-ver btn-outline-success"><i class="fas fa-location-arrow"></i> Ver</button>

								<button type="button" class="btn btn-comprar btn-success"><i class="fas fa-shopping-cart"></i> Comprar</button>
							</div>
						</div>
					</div>
				</div>
			</div>





		</div>

	</section>



	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<div th:replace="layout/layout :: scripts"></div>
</body>

</html>