<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
	<nav th:replace="layout/layout :: nav"></nav>
	<div class="container-fluid mt-4">
      <div class="container shadow-lg bg-white px-4 py-5 rounded-25px">
      <div class="row">
	      <aside class="col-md-4 mb-3">	      
	       <div th:replace="components/components :: accordion-nav"></div>
	      </aside>
	      
		  <main class="col-md-8 mb-3">
		   <div class="p-4 rounded-25px" style="background:#F4F4F4">
			<form class="row g-3" th:action="@{/libro/guardar}" th:object="${libro}" method="POST">
			  <div class="col-12">
			    <label for="txtISBN" class="form-label">ISBN</label>
			    <input type="text" th:field="*{ISBN}" class="form-control" id="txtISBN">
			  </div>
			  <div class="col-12">
			    <label for="txtTitulo" class="form-label">Título</label>
			    <input type="text" th:field="*{titulo}" class="form-control" id="txtTitulo">
			  </div>
			  <div class="col-md-4">
			    <label for="cboAutor" class="form-label">Autor</label>
			    <select id="cboAutor" th:field="*{idAutor}" class="form-select">
			      <option th:value="-1" selected th:text="'Seleccione Autor'"></option>
			      <option th:each="a : ${lstAutores}"
			              th:value="${a.id}"
			              th:text="${a.nombre}">
			      </option>
			    </select>
			  </div>
			  <div class="col-md-4">
			    <label for="cboCategoria" class="form-label">Categoría</label>
			    <select id="cboCategoria" th:field="*{idCategoria}" class="form-select">
			      <option th:value="-1" selected th:text="'Seleccione Categoria'"></option>
			      <option th:each="c : ${lstCategoria}"
			              th:value="${c.id}"
			              th:text="${c.nombrecat}">
			      </option>
			    </select>
			  </div>
			  <div class="col-md-4">
			    <label for="cboEditorial" class="form-label">Editorial</label>
			    <select id="cboEditorial" th:field="*{idEditorial}" class="form-select">
			      <option th:value="-1" selected th:text="'Seleccione Editorial'"></option>
			      <option th:each="e : ${lstEditoriales}"
			              th:value="${e.id}"
			              th:text="${e.descripcion}">
			      </option>
			    </select>
			  </div>
			  <div class="col-md-4">
			    <label for="txtPaginas" class="form-label">Páginas</label>
			    <input type="number" th:field="*{paginas}" class="form-control" id="txtPaginas" min="0">
			  </div>
			  <div class="col-md-4">
			    <label for="txtStock" class="form-label">Stock</label>
			    <input type="number" th:field="*{cantidad}" class="form-control" id="txtStock" min="0" max="255">
			  </div>
			  <div class="col-md-4">
			    <label for="txtPrecio" class="form-label">Precio</label>
			    <input type="number" th:field="*{precio}" class="form-control" id="txtPrecio" min="0" step="any">
			  </div>
			  <div class="col-12">
			    <label for="txtDescripcion" class="form-label">Descripción</label>
  				<textarea class="form-control" th:field="*{descripcion}" id="txtDescripcion" rows="4"></textarea>
			  </div>
			  
			  <div class="col-12">
			    <button type="submit" class="btn btn-rounded btn-shadow btn-lg btn-success float-end" th:text="${accionBtn}"></button>
			  </div>
			</form>
		   </div>
		  </main>
      </div>		
      </div>
    </div>
    
    <div th:replace="layout/layout :: scripts"></div>
</body>
</html>