<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
	<nav th:replace="layout/layout :: nav"></nav>
	<div class="container-fluid mt-4">
      <div class="container shadow-lg bg-white px-4 py-5 rounded-25px">
      <div class="row">
	      <aside class="col-md-4 mb-3">	      
	       <div th:replace="components/components :: accordion-nav"></div>
	      </aside>
	      
		  <main class="col-md-8 mb-3">
		   <div class="p-4 rounded-25px" style="background:#F4F4F4">
			<form class="row g-3">
			  <div class="col-12">
			    <label for="txtNombre" class="form-label">Nombre</label>
			    <input type="email" class="form-control" id="txtISBN">
			  </div>
			  <div class="col-12">
			    <label for="txtDescripcion" class="form-label">Descripción</label>
  				<textarea class="form-control" id="txtDescripcion" rows="4"></textarea>
			  </div>
			  <input accept="image/*" id="archivo" name="archivo" type="file" value="">
			  
			  <div class="col-12">
			    <button id="btnactA" type="submit" class="btn btn-rounded btn-shadow btn-lg btn-success float-end">Actualizar</button>
			    <button id="btnresA" type="submit" class="btn btn-rounded btn-shadow btn-lg btn-success float-end">Registrar</button>
			  </div>
			</form>
		   </div>
		  </main>
      </div>		
      </div>
    </div>
    
    <div th:replace="layout/layout :: scripts"></div>
</body>
</html>